.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

#show-liked-box:hover, #show-liked-box:focus {
  cursor: pointer;
  text-decoration: underline;
}

.box {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.box-header {
  width: 100%;
  margin-bottom: 10px;
}
.box-main {
  width: 100%;
  height: fit-content;
  margin-top: 5px;
}
.box-main .row .col-lg-4{
  align-self: center;
  text-align: center;
}

/* Modal Content */
.box-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 50%;
  overflow: scroll hidden;
  overflow-x: hidden;
}

.box-content:hover {
  overflow-y: visible;
}

.box-content .col-lg-11 strong {
  font-size: large;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Comment section*/
.show-comments-btn {
  cursor: pointer;
  text-decoration: underline;
}

.comments-box {
  height: fit-content;
  overflow: scroll hidden;
  overflow-x: hidden;
  width: 100%;
}

.comments-box:hover {
  overflow-y: visible;
}

.comments-box .a-comment {
  padding: 10px 0 10px 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}