{% extends "base.html" %}
{% load static %}

{% block title %}{{ viewing_user.username }}{% endblock %}

{% block full_view %}
<div class="container col-md-12" style="margin-top: 0px; color: azure;">
    <div class="profile-header col-md-12 container-fluid" style="background-color: #242526; border-radius: 10px; padding: 10px;">
        <div class="profile-cover col-md-12" style="position: relative;">
            {% if viewing_user.cover_image %}
                <img src="{{ viewing_user.cover_image.url }}" width="1020" height="480" style="border-radius: 10px; margin-left: auto; margin-right: auto; display: block;">
            {% else %}
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="1020" height="480" style="border-radius: 10px; margin-left: auto; margin-right: auto; display: block;">
            {% endif %}
            {% if viewing_user.avatar %}
                <img src="{{ viewing_user.avatar.url }}" role="button" data-toggle="modal" data-target="#view-avatar" width="200" height="200" style="border-radius: 100px; margin-top: -180px; margin-left: auto; margin-right: auto; display: block; border: #141414 3px solid; position: relative;">
                <div class="modal fade" id="view-avatar" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="background-color: #242526; width: 600px;">
                            <div class="modal-body">
                                <img src="{{ viewing_user.avatar.url }}" width="570" height="600">
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="200" height="200" style="border-radius: 100px; margin-top: -180px; margin-left: auto; margin-right: auto; display: block; border: #141414 3px solid; position: relative;">
            {% endif %}
        </div>
        <div class="col-md-12 container-fluid name-des">
            <h1 style="margin-left: auto; margin-right: auto; display: block; text-align: center; margin-top: 10px; margin-bottom: 5px;">{{ viewing_user.username }}</h1>
            <p style="color: rgb(153, 148, 140); font-size: larger; text-align: center; margin-bottom: 0px;">{% if viewing_user.short_description %}{{ viewing_user.short_description }}{% endif %}</p>
            <hr class="col-md-12" style="width: 990px; margin-left: 110px; margin-right: 110px;">

            <div class="col-md-12 profile-tabs container-fluid" style="padding-left: 110px; padding-right: 140px;">
                <!--TODO add profile tabs-->
                <div class="col-md-6 col-md-offset-6" style="padding: 0 !important;">
                    <div class="col-md-4">
                        {% if mine %}
                            <button type="button" class="btn btn-info btn-block col-md-2" data-toggle="modal" data-target="#edit-profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                    <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                                </svg>
                                <span>Edit profile</span>
                            </button>
                            <div class="modal fade" id="edit-profile" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="background-color: #242526;">
                                        <div class="modal-body">
                                            <form method="POST" id="info_change_form" enctype="multipart/form-data" style="color: black;">
                                                {% csrf_token %}
                                                {{ form }}
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" form="info_change_form">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <button type="button" class="btn btn-info btn-block col-md-2" onclick="window.location.pathname = '/chat/{{ viewing_user.id }}/'">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-text-fill" viewBox="0 0 16 16">
                                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                                </svg>
                                <span>Message</span>
                            </button>
                        {% endif %}
                    </div>
                    {% if not mine %}
                        <div class="col-md-4">
                            {% if is_friend %}
                                <form action="{% url 'user:unfriend' viewing_user.id %}" method="GET">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-dark btn-block" id="unfriend" onclick="return confirm('Are you sure?')" style="color: black;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        <span>Unfriend</span>
                                    </button>
                                </form>
                            {% else %}
                                {% if friend_request_sended %}
                                    <form action="{% url 'user:cancel_friend_request' viewing_user.id %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning btn-block" id="cancelfrreqbtn" onclick="return confirm('Are you sure?')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-slash-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.646-2.646a.5.5 0 0 0-.708-.708l-6 6a.5.5 0 0 0 .708.708l6-6z"/>
                                            </svg>
                                            Cancel
                                        </button>
                                    </form>
                                {% elif friend_request_received %}
                                    <form action="{% url 'user:accept_friend_request' viewing_user.id %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-block" id="cancelfrreqbtn" onclick="return confirm('Are you sure?')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </svg>
                                            Accept
                                        </button>
                                    </form>
                                    <form action="{% url 'user:reject_friend_request' viewing_user.id %}" method="GET">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-warning btn-block" id="cancelfrreqbtn" onclick="return confirm('Are you sure?')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                            </svg>
                                            Reject
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'user:send_friend_request' viewing_user.id %}" method="GET" onsubmit="location.reload(); return true;">
                                        {% csrf_token %}
                                        <button type="submit" id="addfrbtn" class="btn btn-primary btn-block">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                            Add Friend
                                        </button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <button type="submit" id="addfrbtn" class="btn btn-danger btn-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                                </svg>
                                Block
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="main-profile col-md-12">
        <div class="information-media-friends col-md-4 col-md-offset-1" style="margin-top: 20px;">
            <div class="information col-md-12" style="background-color: #242526; color: azure; border-radius: 10px; padding-bottom: 5px;">
                <h2 style="margin-top: 15px; margin-bottom: 15px;">Information</h2>
                {% if viewing_user.current_working_address %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <span class="col-md-2" style="padding: 0 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                            </svg>
                        </span>
                        <span class="col-md-10" style="padding: 0 !important; font-size: large;">{{ viewing_user.current_working_address }} </span>
                    </div>
                {% endif %}
                {% if viewing_user.current_studying_address %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <span class="col-md-2" style="padding: 0 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book-fill" viewBox="0 0 16 16">
                                <path d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                        </span>
                        <span class="col-md-10" style="padding: 0 !important; font-size: large;">{{ viewing_user.current_studying_address }} </span>
                    </div>
                {% endif %}
                {% if viewing_user.came_from %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <span class="col-md-2" style="padding: 0 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                            </svg>
                        </span>
                        <span class="col-md-10" style="padding: 0 !important; font-size: large;">{{ viewing_user.came_from }} </span>
                    </div>
                {% endif %}
                {% if viewing_user.current_living_address %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <span class="col-md-2" style="padding: 0 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                            </svg>
                        </span>
                        <span class="col-md-10" style="padding: 0 !important; font-size: large;">{{ viewing_user.current_living_address }} </span>
                    </div>
                {% endif %}
                {% if viewing_user.dob %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                            <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
                        </svg>
                        <span class="col-md-10 pull-right" style="padding: 0 !important; font-size: large;">Born on {{ viewing_user.dob }}</span>
                    </div>
                {% endif %}
                {% if viewing_user.joined %}
                    <div class="col-md-12" style="padding-left: 0 !important; padding-bottom: 10px;">
                        <span class="col-md-2" style="padding: 0 !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            </svg>
                        </span>
                        <span class="col-md-10" style="padding: 0 !important; font-size: large;">Joined at {{ viewing_user.joined }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="media col-md-12" style="background-color: #242526; color: azure; border-radius: 10px; padding-bottom: 5px; margin-bottom: 10px; margin-top: 20px;">
                <h2 style="margin-top: 15px; margin-bottom: 15px;">Images</h2>
                {% for image in images %}
                    <div class="col-md-4" style="padding-left: 0 !important; margin-bottom: 7px;">
                        <img src="{{ image.image.url }}" width="116" height="116" role="button" data-toggle="modal" data-target="#view-image-{{ image.id }}">
                        <div class="modal fade" id="view-image-{{ image.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" style="background-color: #242526; width: 600px;">
                                    <div class="modal-body">
                                        <img src="{{ image.image.url }}" width="570" height="600">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="friends col-md-12" style="background-color: #242526; color: azure; border-radius: 10px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 10px;">
                <h2 style="margin-top: 15px; margin-bottom: 0px;">Friends</h2>
                <div class="col-md-12" style="margin-bottom: 15px; padding-left: 0 !important;">
                    <span class="friends-count col-md-6" style="padding-left: 0 !important; font-size: 16px;">{{ friends|length }} friends</span>
                    {% if friends|length > 9 %}<span class="view-all-friends col-md-5 col-md-offset-1" style="text-align: end; padding-right: 0 !important;"><a role="button">View all friends</a></span>{% endif %}
                </div>
                {% for friend in friends %}
                    <div class="col-md-4" style="padding-left: 0 !important; margin-bottom: 20px; padding-left: 10px; text-align: center;" onclick="window.location='/user/{{ friend.id }}'" role="button">
                        {% if friend.avatar %}
                            <img src="{{ friend.avatar.url }}" width="110" height="110" style="border-radius: 8px;">
                        {% else %}
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="110" height="110">
                        {% endif %}
                        {{ friend.username }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="posts col-md-6" style="margin-top: 20px;">
            <div class="new-post col-md-12" style="background-color: #242526; border-radius: 10px; padding: 15px;">
                <span class="col-md-1 pull-left" style="padding-left: 0 !important;">
                    {% if me.avatar %}
                        <img src="{{ me.avatar.url }}" width="60" height="60" style="border-radius: 40px;" role="button" onclick="window.location='/user/{{ me.id }}/'">
                    {% else %}
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="40" height="40">
                    {% endif %}
                </span>
                <span class="col-md-11 pull-right" style="padding-top: 10px;">
                    <div onclick="window.location='/post/create/'" style="font-size: 28px; font-weight: 100; padding-left: 20px; margin-left: 20px; font-style: italic; background-color: #3f4244; border-radius: 50px;" role="button" data-toggle="modal" data-target="#post-new">
                        {% if mine %}Share your feelings!{% else %}Write something to {{ viewing_user.username }}{% endif %}
                    </div>
                    <!--<div class="modal fade" id="post-new" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 0px !important;">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="background-color: #242526; width: 600px;">
                                <div class="modal-body">
                                    <!--TODO: add create post modal
                                        TODO: configure add post to sync with modal view
                                </div>
                            </div>
                        </div>
                    </div>-->
                </span>
            </div>
            
            {% if posts %}
                {% for post in posts %}
                    {% include 'post/post_view.html' with view=post.view me=user post_id=post.post.id post=post.post reactions=post.reactions comments=post.comments %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}